{% load static %}
{% include 'base.html' %}


{% block extra-css %}
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
    .dataTables_length{
        display: inline;
    }
    .dataTables_filter{
        align-self: inherit;
        float: right;
    }

    .add-user {
        margin: 35px;
        margin-right: 65px;
    }
</style>
{% endblock %}

{% block content %}
<div class="p-3">
    <a href="{% url 'add_new_user' %}" type="button" class="btn btn-primary float-right add-user">Add New User</a>

</div>
<div class="container">

    <table id="datatable_permissions" class="m-2 table table-striped table-bordered">
    </table>
</div>

{% endblock %}

{% block extra-js %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>

<script language="javascript">

    $(document).ready(function() {
        AjaxDatatableViewUtils.initialize_table(
            $('#datatable_permissions'),
            "{% url 'ajax_datatable_users' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: false,
                full_row_select: false,
                scrollX: false
            }, {
                // extra_data
                // ...
            },
        );
    });

</script>
{% endblock %}

